{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PiWebServer - Homepage{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Welcome home, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    </div>
<!--    <p>The local date and time is {{moment(current_time).format('LLL') }}</p>-->
<!--    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>-->
    {{ wtf.quick_form(form) }}

    <div class="lights">
        <ul>
            {% for light in lights %}
                <li>{{ light.name, light.id }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}